.card1 {
  display: grid;
  /* margin: 30px; */
  min-height: 30rem;
  max-width: 100%;
}
form {
  max-width: 100%;
  border-radius: 5px;
  padding: 20px;
  /* box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75); */
  width: 100%
}

.span {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.name-field1 {
  margin-bottom: 40px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

.box {
  padding: 3px 15px 5px 15px;
  border-radius: 5px;
  border: 2px groove;
  height: 300px;
  width: 100%;
  overflow-y: scroll;
  max-width: inherit;
}

/* .render-chat1 {
  max-width: 100%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
} */

h3 {
  color: #ff5050;
}

span {
  color: black;
}
